.sapMBtnInner {
    outline:none !important;
}
#homePage header {
    background: #b71c1c !important;
    border-bottom: 1px solid #500d0d;
    z-index:2;
}
#homePage header label {
    color: white !important;
    font-family: Calibri;
    font-size: 25px !important;
    font-weight: bold !important;
    text-shadow: 1px 1px 1px black !important;
    width:80%;
    text-align:center !important;
    position:absolute;
    left: 0;
    right: 0;
    margin: auto;
}
.myHidden{
    visibility:hidden;
}
.myLargeButton{
    width:100%;
}
.myMap{
    overflow: visible !important;
    position:static !important;
}
.myProfileText{
    margin-top:15px;
    float:left;
}
.myProfileLabel{
    color:black;
    margin-top: 5px;
    font-size: 12pt;
    white-space: normal;
}
.myTitleLabel{
    color:black;
    margin-top: 5px;
    font-size: 16pt;
    white-space: normal;
}
.myFABEditImage img{
    width: 25px;
    margin-left: 7px;
}
.myFABEditImage input.upload {
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	padding: 0;
	font-size: 20px;
	cursor: pointer;
	opacity: 0;
	filter: alpha(opacity=0);
}
.myFABEditImage .sapMBtnHoverable:hover{
    border-radius:100%;
    outline:none !important;
}
.myFABEditImage .sapMBtnActive{
    border-radius:100%;
    outline:none !important;
}
#homePage header .sapMImageContent{
    width:45px;
    outline:none !important;
}
#homePage .sapTntNavLIItem {
    background: #900000;
    border-bottom: 1px solid #500d0d;
    text-shadow: 1px 1px 1px black;
}
#homePage .sapTntNavLIItem:hover {
    background: #7b0808;
}
#homePage .sapTntNavLIItemSelected .sapTntNavLIItem {
    background: #5d0c0c !important;
}
#homePage .sapTntSideNavigation{
    background-color: #900000 !important;
    /*border-right:1px solid black;*/
}
#homePage .sapTntNavLIGroup>.sapUiIcon {
    color: #cecece !important;
}
#homePage .sapTntNavLIText {
    color: white !important;
}
#homePage #homePage-intHeader{
    display:none !important;
}
#homePage .sapTntToolPageMain header{
    display:none !important;
}
:not(.sapMBtnDisabled)>.sapMBtnTransparent.sapMBtnActive{
    background-color: #5d0c0c !important;
    border-color: #5d0c0c !important;
}
.sapMPage>.sapMPageHeader + section, .sapMPage>.sapMPageSubHeader + section, .sapMPage>.sapMPageHeader + .sapUiHiddenPlaceholder + section{
    top:0px !important;
}
/*SMARTPHONE*/
@media (max-width: 800px) {
    .myProfileImage{
        position:static;
        height:200px;
        width:100%;
        margin-top:15px;
        margin-right:15px;
        float:left;
    }
    .myProfileImage img{
        position:static;
        height:200px;
        width:200px;
        max-height:none;
        border: 1px solid black;
        margin:auto;
    }
    .myFABEditImage{
        background-color:#cf0000;
        width:40px;
        height:40px;
        border-radius:100%;
        border:none;
        color:#FFF;
        font-size:36px;
        box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
        transition:.3s;  
        -webkit-tap-highlight-color: rgba(0,0,0,0);
        padding:0px;
        position: absolute;
        outline:none !important;
        /* Firefox */
        left: -moz-calc(50% + 90px);
        top: -moz-calc(4% + 211px);
        /* WebKit */
        left: -webkit-calc(50% + 90px);
        top: -webkit-calc(4% + 211px);
        /* Opera */
        left: -o-calc(50% + 90px);
        top: -o-calc(4% + 211px);
        /* Standard */
        left: calc(50% + 90px);
        top: calc(4% + 211px);
    }
    .myLogo{
        width: 300px;
        height: 80px;
        margin-top: 60px;
        margin-bottom: 60px;
        background-image: url(../Images/logo.png);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: 50% 50%;
    }
    .myPanel1, .myPanel2, .myPanel3{
        width:85% !important;
        margin: auto;
        float: none !important;
    }
    .myPanel1{
        margin-top: 4%;
    }
    .myPanelProfile, .myPanelSettings{
        width:85% !important;
        margin: auto;
        margin-top: 4%;
        float: none !important;
    }
    .myImageDialog{
        width: 256px;
        height: 400px;
    }
    #homePage .sapMGT.TwoByOne {
        width: 100%;
        height: 11rem;
        margin-bottom:10px;
        background-size: cover;
    }
    #homePage .sapMGT.TwoByOne div {
        width: 100% !important;
    }
    #homePage .sapMGT.TwoByOne .sapMTileCntFtrTxt {
        margin-left:0 !important;
        padding-right: 5px;
    }
    #homePage .sapTntToolPageMain section{
        position: static !important;
    }
    #homePage .sapTntToolPageMain section section{
        padding:1% !important;
        float:left;
    }
    .myPage{
        overflow-x:auto !important;
    }
    #homePage header div img {
        position: absolute;
        right: 4px;
        max-height: 40px !important;
        top: 12px !important;
        border-radius: 50%;
        background-color: #b71c1c;
    }
}
/*DESKTOP*/
@media (min-width: 801px) {
    .myProfileImage{
        position:static;
        height:200px;
        width:200px;
        margin-top:15px;
        margin-right:15px;
        margin-left:1px;
        float:left;
    }
    .myProfileImage img{
        position:static;
        height:200px;
        width:200px;
        max-height:none;
        border: 1px solid black;
    }
    .myFABEditImage{
        background-color:#cf0000;
        width:40px;
        height:40px;
        border-radius:100%;
        border:none;
        color:#FFF;
        font-size:36px;
        box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
        transition:.3s;  
        -webkit-tap-highlight-color: rgba(0,0,0,0);
        padding:0px;
        position: absolute;
        top: 230px;
        outline:none !important;
        /* Firefox */
        left: -moz-calc(25% + 200px);
        /* WebKit */
        left: -webkit-calc(25% + 200px);
        /* Opera */
        left: -o-calc(25% + 200px);
        /* Standard */
        left: calc(25% + 200px);
    }
    .myLogo{
        width: 300px;
        height: 80px;
        margin-top: 60px;
        margin-bottom: 60px;
        background-image: url(../Images/logo.png);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: 50% 50%;
    }
    .myPanel1, .myPanel2{
        width:47% !important;
    }
    .myPanel3{
        width:96% !important;
    }
    .myPanelProfile, .myPanelSettings{
        margin-top: 4%;
        width:50% !important;
        margin: auto;
        float: none !important;
    }
    .myImageDialog{
        width: 368px;
        height: 600px;
    }
    .sapMTileCnt.sapMFrameTypeAuto {
        height: 6.375rem;
        min-width: 10.875rem;
        max-width:none;
    }
    #homePage .sapMGT.TwoByOne {
        width: 24%;
        height: 11rem;
        margin-right:1%;
        background-size: cover;
    }
    #homePage .sapMGT.TwoByOne div {
        width: 100% !important;
        margin-left:0 !important;
    }
    #homePage .sapMGT.TwoByOne .sapMTileCntFtrTxt {
        margin-left:0 !important;
        padding-right: 5px;
    }
    #homePage .sapMGT.TwoByOne:first-child{
        margin-left:0.5%;
    }
    #homePage .sapMGT.TwoByOne:last-child{
        margin-right:0.5%;
    }
    #homePage .sapTntToolPageMain section{
        position: static !important;
        padding:1% !important;
        float:left;
    }
    #homePage header div img {
        position: absolute;
        right: 4px;
        max-height: 40px !important;
        top: 12px !important;
        border-radius: 50%;
        background-color: #b71c1c;
    }
}
#loginPage .sapMBtnIcon {
    color: #666 !important;
}
#loginPage header{
    display:none !important;
}
#loginPage footer{
    opacity: 0.6;
}
#loginPage footer label{
    margin-left: auto !important;
    color: black !important;
}
#loginPage footer a{
    margin-right: auto !important;
    color: #b71c1c !important;
}
#registerPage header {
    background: #b71c1c !important;
}
#registerPage section {
    margin-top: 60px !important;
}
.mySpinner {
  width: 60px;
  height: 60px;
  margin: 60px;
  animation: rotate 1.4s infinite ease-in-out, background 1.4s infinite ease-in-out alternate;
}

@keyframes rotate {
  0% {
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
  }
  50% {
    transform: perspective(120px) rotateX(-180deg) rotateY(0deg);
  }
  100% {
    transform: perspective(120px) rotateX(-180deg) rotateY(-180deg);
  }
}
@keyframes background {
  0% {
  background-color: #a30000;
  }
  50% {
    background-color: #8c1a1a;
  }
  100% {
    background-color: #c0392b;
  }
}
:not(.sapMBtnDisabled)>.sapMBtnDefault.sapMBtnInner.sapMBtnActive{
    background-color: #ad1c1c !important;
    border-color: #ad1c1c !important;
}
.myDialog h1{
    font-weight: normal !important;
    color: #333333 !important;
    text-shadow: none !important;
}
.sapMBtnIcon {
    color: #fff !important;
    text-shadow:none !important;
}
.sapMTitle{
    color: white !important;
    font-family: Calibri;
    font-size: 25px !important;
    font-weight: bold !important;
    text-shadow: 1px 1px 1px black !important;
}
.sapMPageHeader::before{
    content: "";
    position: absolute;
    width: 100%;
    top: 0;
    border-top: 0.25rem solid #b71c1c;
    z-index: 7;
}
.sapUiBodyBackground, .sapUIBody, .sapUiGlobalBackgroundColor{
    background: url(../Images/backgroundlogin.png) no-repeat center center fixed !important;
    -webkit-background-size: cover !important;
    -moz-background-size: cover !important;
    -o-background-size: cover !important;
    background-size: cover !important;
}
.sapMPanelBGTranslucent{
    background-color: rgba(255,255,255,0.6);
}
.sapMPanelContent:not(.sapMPanelBGTransparent) {
    border: 0px !important;
    border-radius: 5px !important;
}